/*BACKUP*/
// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

/* GENERAL ****************************************************** */
body {
    font-family: "Inter", sans-serif;
    color: #151A0F;
    background-color: #fff;
    font-size: 16px;
}

/* MÁRGENES ****************************************************** */

.mt-30  { margin-top: 30px;    }
.mt-40  { margin-top: 40px;    }
.mt-60  { margin-top: 60px;    }
.mr-10  { margin-right: 10px;  }
.mr-30  { margin-right: 30px;  }
.mt-130 { margin-top: 130px;   }
.mb-24  { margin-bottom: 24px; }
.mb-30  { margin-bottom: 30px; }
.mb-40  { margin-bottom: 40px; }
.mb-60  { margin-bottom: 60px; }
.mb-100 { margin-bottom: 100px; }

/* RELLENOS ****************************************************** */

.pt-seccion-inicial { padding-top: 11.25rem; }
.pb-60   { padding-bottom: 60px;  }
.pb-100  { padding-bottom: 100px; }
.pt-60   { padding-top: 60px;     }
.pt-130  { padding-top: 130px;    }
.ptb-30  { padding: 30px 0 30px 0;}
.ptb-130 { padding: 130px 0;      }
.pr-80   { padding-right: 80px;   }
.p-10    { padding: 10px;         }
.p-20    { padding: 20px;         }
.plr-25   { padding: 0 25% 0 25%;    }

/* BORDERS ****************************************************** */
.br-6 { border-radius: 6px;}
.border-dashed { border: 1px dashed #344026; padding: 20px;}

/* BACKGROUND ****************************************************** */

.bg-negro-verdoso  { background: #151A0F; color: #f9fafa !important; }

.bg-verde-oscuro  { background: #344026; color: #f9fafa !important; }

.bg-verde { background: #728c54; color: #f9fafa !important; }

.bg-verde-pastel { background: #C0C6B9 !important; }

.bg-blanco-verdoso { background: #f9fafa !important; }

.bg-hero-mobile { 
    background-image: url(../../public/img/hero-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

/* TIPOGRAFÍA ****************************************************** */

h1,
h2,
h3,
h4 {
    font-family: "Quicksand", sans-serif;
}

h1 {
    font-size: 2.25rem /*36px*/;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    font-size: 1.5rem ;
    font-weight: 700;
    line-height: 2rem;
}

h3 {
    font-size: 1.125rem;
    font-weight: 700;
}

h3 {
    font-size:  1.125rem;
    font-weight: 700;
}

.hero h1 {
    font-size: 3rem;
    line-height: 3.375rem;
}

.hero p {
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: 300;
}

:root {
    /* The intrinsic width of the underline stroke (in pixels). This is 
   * the same as the height of the cap images. Don't specify the
   * units! This is because of some of the calculations we do later on. */
    --underline-intrinsic-width: 8;

    /* The actual width of the underline stroke we want to render (in pixels).
   * You can modify this, and the sizing and positioning should be calculated
   * accordingly. Again, Don't specify the units! */
    --underline-width: 8;

    /* The colour used to draw the underline. It should match the colour
   * used in the cap images... unfortunately we can't modify the SVG
   * fill via CSS because it's a background image. */
    --underline-color: #c0c6b9;

    /* We need to know the width of the cap images so that we
   * can position everything on the x axis accordingly. */
    --underline-cap-width: 4px;

    /* The border is positioned relative to the bottom of the line.
   * We can move it upwards a little to create an overlap effect. */
    --underline-offset-y: -8px;

    /* The padding to add to the x axis. By default, the caps would be
   * aligned with the beginning and end of the line. */
    --underline-padding-x: 0.12em;

    /* The cap images to use that form the left and right rounded
   * shape. I guess these could be any shape, they don't
   * necessarily have to be round 🙂.
   */

    --cap-image-left: url(../../public/img/left.svg);
    --cap-image-right: url(../../public/img/right.svg);
}

.titular {
    color: #344026;
    font-size: 40px;
    display: inline;
    --underline-width-scale: calc(
        var(--underline-width) / var(--underline-intrinsic-width)
    );
    padding: 0
        calc(
            var(--underline-padding-x) +
                calc(var(--underline-cap-width) * var(--underline-width-scale))
        );
    box-decoration-break: clone;
    background-repeat: no-repeat;
    background-image: linear-gradient(
            180deg,
            var(--underline-color),
            var(--underline-color)
        ),
        var(--cap-image-left), var(--cap-image-right);
    background-position-x: calc(
            var(--underline-cap-width) * var(--underline-width-scale)
        ),
        0, 100%;
    background-position-y: calc(100% - var(--underline-offset-y) * -1);
    background-size: calc(
                100% -
                    calc(
                        var(--underline-cap-width) *
                            var(--underline-width-scale) * 2
                    )
            )
            calc(var(--underline-width) * 1px),
        auto calc(var(--underline-width) * 1px),
        auto calc(var(--underline-width) * 1px);
}

.bajada-h1 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 54px;
}

.bajada-h2 {
    color: #344026;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 32px;
}
.bajada-h3-precio{
    color: #344026;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
}

.proceso div { 
    flex: 1 1 0px;
    margin: 0 5px;
}
.proceso div h3 {
    font-size: 0.9rem;
    margin-top: 15px;
}

.titulo-paso-activo {
    color: #728c54;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.carousel-caption-dbm p {
    font-size: 16px;
    line-height: 22px;
}

.carousel-caption-dbm p {
    font-size: 16px;
    line-height: 22px;
}

.archive-resultados {
    font-size: 14px;
    font-weight: 700;
}

/* HEADER */

.top-header {
    background-color: #344026;
    padding: 8px 0;
}

.top-header .iconos {
    padding: 0;
    margin: 0;
}

.top-header .iconos li:not(.dropdown li) {
    display: inline-block;
    margin-left: 16px;
}

.top-header .iconos svg {
    height: 16px;
    width: auto;
}

.top-header .iconos .st0{
    fill: none;
    stroke: #fff;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.top-header .iconos .user{
    cursor: pointer;
}

.top-header .iconos .user:after{
    display: none;
}

.top-header .dropdown-menu.show{
    top: 12px !important;
    padding-top: 0;
    padding-bottom: 0;
}
.top-header .dropdown-toggle.show .st0{
    stroke: #D29C37;
}
.top-header .dropdown-menu .dropdown-item{
    height: 44px;
    line-height: 34px;
}
.top-header .dropdown-menu .dropdown-item:hover,.top-header .dropdown-menu .dropdown-item.active{
    color: #F9FAFA;
    background-color: #D29C37;
}

.top-header .cart-section span{
    position:absolute;
    width:16px;
    height:16px;
    border-radius:50%;
    background-color: #D29C37;
    color: #344026;
    font-size:12px;
    font-weight: 700;
    text-align: center;
    top:-2px;
    left:12px;
}

.header {
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(27, 31, 34, 0.1);
    padding: 15px 0;
}

/* NAV */

.nav-tabs { border: none; }

.nav-tabs .nav-link {
    color: #C0C6B9;
    font-weight: 500;
    font-size: 15px;
    border: 0;
    border-bottom: 1.2px solid #C0C6B9;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #728C54;
    border-bottom: 1.2px solid #728C54;
    background-color: transparent;
}

.title-in-tab {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 15px;
    display: block;
 }

.txt-in-tab { 
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.txt-in-tab b {
    font-weight: 600;
}

.navbar-brand {
    width: 120px;
    height: 120px;
    padding: 0;
    top: 8px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px 0px rgba(27, 31, 34, 0.3);
    background-color: #fff;
    z-index: 99;
}

.navbar-collapse { z-index: 100;}

.navbar-brand img {
    width: 100%;
    height: auto;
    -webkit-transition-duration: 0.85s;
    -moz-transition-duration: 0.85s;
    -o-transition-duration: 0.85s;
    transition-duration: 0.85s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.navbar-brand img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.header .navbar-nav .nav-item {
    margin-left: 7px;
}

.header .navbar-nav .nav-item .nav-link,
.header .navbar-nav .nav-item .icono-buscar {
    color: #030304;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    padding: 12px 24px;
    background-color: #fff;
    border-radius: 4px;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}

.header .navbar-nav .nav-item .nav-link:hover,
.header .navbar-nav .nav-item .nav-link.activo,
.header .navbar-nav .nav-item .icono-buscar:hover {
    background-color: #728c54;
    color: #fff;
}

.icono-buscar:hover > svg path {
    stroke: #fff;
}

/* SUB-NAV ****************************************************** */

.breadcrumb {
    margin-top: 20px;
    margin-bottom: 60px;
}
.breadcrumb .breadcrumb-item a {
    color: #c0c6b9;
    text-decoration: none;
}
.breadcrumb-item.active,
.breadcrumb .breadcrumb-item a:hover,
.breadcrumb-item + .breadcrumb-item::before {
    color: #728c54;
}

.nav-pasos {
    list-style-type: none;
}

.nav-pasos li {
    color: #344026;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 4px;
    padding: 4px 8px;
    display: block; /* No funciona */
    background: #fff;
    border-radius: 8px;
}

.nav-pasos .active .main-title {
    color: #728c54 !important;
    font-weight: 700;
}

.modulo-pasos {
    border-radius: 6px;
    background: #f8faf7;
    padding: 40px 20px;
    box-shadow: 0px 2px 4px 0px rgba(10, 13, 8, 0.1);
}

.navbar-toggler {
    display: block;
    margin-left: auto;
}

/* FORMULARIOS ****************************************************** */

label {
    font-family: "Quicksand", sans-serif;
    color: #344026;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    display: block;
    height: 22px;
}

.separador span { padding: 0 15px; line-height: 45px; }

.badge { background-color: #344026; color: #F9FAFA; padding: 8px 16px; font-size: 13px; font-weight: 300; border-radius: 20px; margin-right: 12px; }
.badge:hover { background-color: #728C54; } 
.badge, .badge svg { line-height: 13px; }
.badge svg { margin-left: 8px;}

.form-check-input { margin-top: 0; }
.form-check-input:checked { background-color: #728C54; border-color: #728C54;}
.form-check-label, .form-check-label .enlace  { font-family: "Inter", sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; }

.form-select,
.form-control {
    margin-bottom: 24px;
    border-radius: 2px;
    border: 1.2px solid #C0C6B9;
    padding: 10px;
    background-color: #fff;
}
.login-page .form-control {
    margin-bottom: 0px;
}

.form-control::placeholder {
    color: #344026;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    background-color: #fff;
}

.form-control:focus {
    border-color: #728c54 !important;
    box-shadow: 0px 1px 2px 0px rgba(39, 48, 29, 0.15);
    background-color: #fff;
}

.form-select:focus {
    border-color: #728c54 !important;
    box-shadow: 0px 1px 2px 0px rgba(39, 48, 29, 0.15);
    background-color: #fff;
}
.modulo-pasos textarea,
.modulo-resumen textarea {
    resize: none;
}

/*New Code Form*/
.character-count-badge {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 12px;
}

.tit-age-range{
    display: block;
    font-weight: 600;
    transform: translateY(-3px);
}
.row-age-range{
    margin-bottom: 25px;
}
.row-age-range input, .row-age-range select{
    margin-bottom: 0;
}

/*SEARCH ARCHIVE*/
#search-bar-archive .search-input {
    margin-bottom: 0;
    border-left: none;
    border-right: none;
}

#search-bar-archive .search-input:focus {
    border-top : 1.2px solid #C0C6B9 !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom : 1.2px solid #C0C6B9 !important;
    box-shadow: none;    
}

#search-bar-archive .icon-search {
    background-color: #fff;
    border-top : 1.2px solid #C0C6B9;
    border-right: none;
    border-left : 1.2px solid #C0C6B9;    
    border-bottom : 1.2px solid #C0C6B9;
    border-radius: 0;
}

#search-bar-archive .cont-search-box.focused {
    box-shadow: 0px 1px 2px 0px rgba(39, 48, 29, 0.15);
}


#search-bar-archive .icon-x {
    background-color: #fff;
    border-top : 1.2px solid #C0C6B9;
    border-right : 1.2px solid #C0C6B9;
    border-left: none;
    border-bottom : 1.2px solid #C0C6B9;
    border-radius: 0;
}

/*Columna A*/
.col-a {
    display: flex;
}

/*Categorias dropdown*/
.cat-select {
    cursor: pointer;
}
.div-cat .fa-chevron-down, 
.div-select .fa-chevron-down, 
.div-select-static .fa-chevron-down 
{
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: 18px;
    right: 15px;
    font-size: 12px;
}

.admin-edit .div-cat .fa-chevron-down{
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: 47px;
    right: 15px;
    font-size: 12px;
}

.step1-sell-form .div-cat .fa-chevron-down, .modulo-resumen .div-cat .fa-chevron-down {
    top: 46px;
}



/* #DROPDOWN-SELECT */

#dropdown-select, #dropdown-cats, .dropdown-select-static {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 3px;
    z-index: 9999;
    background-color: #F9FAFA;
    box-shadow: 0 2px 4px rgba(10, 13, 8, 0.1); 
    border-radius: 2px;
}

#dropdown-cats {
    top: 88px;    
    max-height: 220px;
    overflow-y: scroll;
}

#dropdown-select{
    top: 45px;
}

.dropdown-select-static {
    top: 45px;
}

#infoPayBank .dropdown-select-static, .select-chilexpress .dropdown-select-static{
    max-height: 220px;
    overflow-y: scroll;
}

#dropdown-select .btn-check, .dropdown-select-static .btn-check { height: auto; }

#dropdown-select .btn, .dropdown-select-static .btn  {
    padding: 12px!important;
    border-radius: 2px;
    display: block!important;
    text-align: left;
    width: 100%;
    height: 100%;
    margin: 3px 0;
}

#dropdown-select .btn:hover, #dropdown-select .btn-check:checked + .btn,
#dropdown-cats .btn:hover, #dropdown-cats .btn-check:checked + .btn, 
.dropdown-select-static .btn:hover, .dropdown-select-static .btn-check:checked + .btn {
    background-color: #728c54;
    border-color: transparent;
    color: #f9fafa;
}



#dropdown-cats h2 button, 
#dropdown-select h2 button,
.dropdown-select-static h2 button 
{
    padding: 0.6rem 0.39rem 0.6rem 1.25rem;
    background-color: #fff;
}
#dropdown-cats h2 button,
.cat-sin-hijo label,
#dropdown-select h2 button,
.dropdown-select-static h2 button 
{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #344026;
}
.cat-sin-hijo label,
#dropdown-cats .accordion-body label, 
#dropdown-select .accordion-body label,
.dropdown-select-static .accordion-body label 
{
    font-family: "Inter", sans-serif;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0.6rem 1.25rem;
    border-radius: 0;
}
#dropdown-cats .accordion-button:focus,
#dropdown-select .accordion-button:focus,
.dropdown-select-static .accordion-button:focus
{
    box-shadow: none;
    border-color: unset;
    background-color: #fff;
}
#dropdown-cats .accordion-button:not(.collapsed), 
#dropdown-select .accordion-button:not(.collapsed),
.dropdown-select-static .accordion-button:not(.collapsed) 
{
    box-shadow: none;
    border-color: unset;
    background-color: #c0c6b9;
    color: #344026;
}



#dropdown-cats .accordion-body, 
#dropdown-select .accordion-body,
.dropdown-select-static .accordion-body
{
    padding: 0;
}
#dropdown-cats .accordion-button::after, 
#dropdown-select .accordion-button::after,
.dropdown-select-static .accordion-button::after
{
    content: url('../../public/img/chevron-down.svg');
    background-image: none;
}

.orden-grid label, .orden-grid p, .orden-grid a { line-height: 45px; }
.orden { margin-right: 20px; white-space:nowrap; }
.orden label { display: inline-block; margin-right: 10px; }
.icons-grid a:not(:last-child) { margin-right: 10px; }
.icons-grid a { width: 22.5px; height: 22.5px; cursor: pointer; }
.icons-grid a svg { fill: #151a0f; width: 22.5px; height: 22.5px; }
.icons-grid a svg:hover { fill: #728c54; }


/*PASO DE LAS DIMENSIONES*************************************** */
.cont-dimen-1, .cont-dimen-2 {
    margin-bottom: 4rem;
}
.cont-dimen-1 .row-main-dim, .cont-dimen-2 .row-main-dim, .edit-pro-admin.row-main-dim {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modulo-pasos .cont-dimen-1 .row-main-dim{
    width:100%;
    max-width: 700px;
}
.modulo-pasos .row-main-dim .input-data-unit, .modulo-resumen .row-main-dim .input-data-unit, .edit-pro-admin .input-data-unit{
    margin-bottom: 0;
}
.cont-dimen-1 .row-child-dim,.cont-dimen-2 .row-child-dim, .edit-pro-admin .row-child-dim {
    display: flex;
    flex-direction: row;
}
.cont-dimen-1 .row-child-dim .col-dim:first-child,.cont-dimen-2 .row-child-dim .col-dim:first-child, .edit-pro-admin .row-child-dim .col-dim:first-child{
    margin-right: 0.5rem;
}
.cont-dimen-1 .col-dim,.cont-dimen-2 .col-dim, .edit-pro-admin .col-dim {
    width: 100%;
    max-width: 100px;
}


/*FORMULARIOS PRECIO *********************************/


.input-precio {
    margin-bottom: 0 !important;
    padding: 5px !important;
}

.row-income {
    padding: 0 0.2rem;
}
.price-income{
    margin-left: .6rem;
}

/*Tooltip Medidas y Tooltip Rango*/
.info-tool {
    position: absolute;
    top: -5px;
    right: 0;
}
.info-tool-rango{
    position: absolute;
    top: -5px;
    right: 12px;
    padding: 0;
    width: auto;
}
.info-tool #info-svg, .info-tool-rango #info-svg{
    width: 15px;
    height: 15px;
}
.info-tool #info-svg .st0, .info-tool-rango #info-svg .st0{
    fill: none;
    stroke: #728c54;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cont-dimen-1.resumen {
    margin-bottom: 0;
}

/* BOTONES ****************************************************** */

.boton-principal {
    color: #d29c37;
    border-radius: 4px;
    border: 2.5px solid #d29c37;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
}

.boton-principal:hover {
    background-color: #d29c37;
    color: #f8faf7;
}

.boton-secundario {
    color: #728c54;
    border-radius: 4px;
    border: 2.5px solid #728c54;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    padding: 16px 32px;
    text-decoration: none;
}

.boton-secundario:hover {
    background-color: #728c54;
    color: #f8faf7;
}

.boton-favoritos {
    border-radius: 4px;
    border: 2.5px solid #c0c6b9;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    padding: 16px 32px;
    margin-left: 20px;
    display: inline-block;
}

.boton-favoritos svg {
    height: 15px;
    width: auto;
    fill: #c0c6b9;
}

.boton-favoritos:hover path {
    fill: #fff;
}

.boton-favoritos:hover {
    background-color: #8ca76d;
    color: #fff;
}

.cont-edad { margin: 30px 0; }

.cont-edad .btn-edad:not(:last-child) { margin-right: 10px; }

.btn-edad label {
    background-color: #fff !important;
    color: #151A0F !important;
    border-radius: 8px;
    border: 2px dashed #151A0F;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
} 

.btn-edad .btn-check:checked + .btn {
    background-color: #D29C37 !important;
    border: 2px dashed #D29c37 !important;
    color: #fff !important;
}

.btn-edad label:hover {
    background-color: #D29C37 !important;
    border: 2px dashed #D29c37 !important;
    color: #fff !important;
}



/* SELLING FORM ****************************************************** */
.tabs-form-sell button {
    background-color: #aac0e4;
    border: 1px solid #aac0e4;
    color: #fff;
    width: 100%;
    max-width: 113px;
    height: 51px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tabs-form-sell button.activo {
    background-color: #4273c2;
    border: 1px solid #4273c2;
}

.btn-sell-step {
    background-color: #fff;
    border: 2px solid rgba(66, 115, 194, 0.5);
    color: rgba(66, 115, 194, 0.5);
    border-radius: 4px;
    width: 100%;
    max-width: 177px;
    height: 43px;
}

.sec-bank-default-form{
    height: 88px;
}

/*FOOTER *******************************************************/
footer {
    margin-top: -20px; 
    background-color: #344026;
    color: #fff;
}

footer a {
    color: #fff;
}

.top-footer {
    background-color: #344026;
    padding: 90px 0 100px 0;
    border-top: 1px dashed #728c54 !important;
    border-width: 1.3px;
    box-shadow: 1px 0px 2px rgba(16, 34, 40, 0.3); 
    border-bottom: 1px dashed #d29c37 !important;
}

.top-footer p {
    font-family: "Quicksand", sans-serif;
    margin-top: 15px;
}
.top-footer h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: #d29c37;
    font-weight: 800;
}
.top-footer .nav-footer {
    padding-left: 0;
}
.top-footer .nav-footer li {
    padding-left: 0;
    list-style-type: none;
}
.top-footer .nav-footer li a {
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 12px;
}
.top-footer .nav-footer li a:hover {
    color: #d29c37;
    text-decoration: underline;
}

.bottom-footer {
    background-color: #d29c37;
    padding: 12px 0;
}
.bottom-footer .nav-bottom-footer { padding:0; margin: 0; }
.bottom-footer .nav-bottom-footer li { padding-left: 0; list-style-type: none; display: inline; }
.bottom-footer .nav-bottom-footer li a { font-size: 13px; text-decoration: none; margin-left: 12px; }
.bottom-footer .nav-bottom-footer li a:hover { color: #344026; text-decoration: underline; } 

.social-icons .circle {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 2px dotted #D29C37;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.social-icons .circle:hover, .social-icons .circle:hover > svg path {
    fill: #344026;
    color: #344026;
    background-color: #D29C37;
}

/* SINGLE PRODUCT *******************************************************/

.encabezado-producto {
    margin-bottom: 40px;
    padding: 40px 20px;
}

.encabezado-producto h1 {
    color: #151A0F;
}

.encabezado-producto .sku {
    font-size: 11px;
}

.encabezado-producto .vendedor {
    font-size: 0.85rem;
}


.encabezado-producto .descripcion p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: #151A0F;
    margin-bottom: 0;
}

.valores-producto { padding: 0 20px 0 20px;}

.valores-producto .porcentaje {
    background-color: #728C54;
    color: #F9FAFA;
    padding: 6px 12px;
    border-radius: 6px;
}

.valores-producto .precio-referencia b {
    font-size: 13px;
    padding: 0;
    margin: 0;
    text-decoration:line-through;
    color: #728C54;
}

.valores-producto .precio-referencia span {
    font-size: 11px;
    padding: 0;
    margin:  0;
}


.valores-producto .precio {
    font-size: 30px;
    font-weight: 700;
}

/* Banner */
.banner-dbm {
    background-color: #151A0F;
    color: #f9fafa;
}

.banner-dbm h3 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 0;
}

.banner-dbm p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Links ****************************************************** */

.enlace {
    font-size: 15px;
    color: #344026;
    cursor: pointer;
}

.enlace:hover {
    color: #728C54;
}

/* Frases fuerza ****************************************************** */

.titular-frase {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #f9fafa;
    font-family: "Inter", sans-serif;
}

#parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../../public/img/cuna.png),
        url(../../public/img/elipse.svg), url(../../public/img/back.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}

.img-superpuesta {
    position: absolute;
    z-index: 999;
    right: 0;
    top: -120%;
}

/**CSS TEST PARALLAX***********************************/

h1.parallax-txt {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Arial";
    text-transform: uppercase;
    opacity: 0.2;
    font-size: 70px;
}
/*CSS ADMIN USER******************************************/
#profil-img {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #728c54;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#profil-img .img-profile {
    width: 100%;
    max-width: 35px;
    height: 39px;
}
#profil-img .real-img-profil {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
/* PAGINATION */


.pagination li:not(:last-child) { margin-right: 16px; }

.pagination .pagination-page-nav a:not(.active a,
.pagination-next-nav a, .pagination-prev-nav a),
.pagination-page-nav:last-child a, 
.pagination-page-nav:first-child a { color: #C0C6B9; background-color: #fff; border: 1.5px dashed #C0C6B9; border-radius: 8px!important; padding: 10px 18px; }

.pagination .pagination-page-nav a:hover:not(.active a:hover) { color: #151A0F; border: 1.5px dashed  }
.pagination .active a { background-color: #D29C37!important; color: #fff!important; border: 1.5px dashed #D29C37; border-radius: 8px!important; padding: 10px 18px; }
.pagination-next-nav a, .pagination-prev-nav a { color: #C0C6B9; background-color: #fff; border: none; padding: 10px 18px; }
.pagination-next-nav a:hover, .pagination-prev-nav a:hover { color: #151A0F; background-color: #fff; }

.page-link:focus {
    z-index: 3;
    color: #151A0F;
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 3px rgba(210,156,55,1);
    -moz-box-shadow: 0 0 0 3px rgba(210,156,55,1);
    box-shadow: 0 0 0 3px rgba(210,156,55,1);
    border-radius: 8px!important;
}
:focus-visible { outline: 1px auto rgba(210,156,55,.6); }


/*CSS PAGINAS QUE NECESITAN PADDING POR EL POSITION FIXED HEADER**************************/
.p-pages {
    padding-top: 14rem;
}

/*CSS LOGIN********************************************/
.login-page {
    height: 100vh;
    background-image: url(../../public/img/background-login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* CARDS */
.card-productos a { text-decoration: none; display: inline-block; }

.card-img {
    border: 1.2px dashed #C0C6B9;
    overflow: hidden;
    //padding: 5px; 
    transition: border 0.25s ease-in-out;
    //Codigo momentaneo de test 4:5
    width: 100%;
    padding-top: 125%;
    position: relative;
    overflow: hidden;
}
.card-img img { 
    transition: transform 0.25s ease-in-out; 
    //Codigo momentaneo de test 4:5
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

.card-img:hover,
.hovered-img
 { border: 1.2px dashed #728C54; }


.card-productos a .card-title { color: #151A0F; font-family: "Quicksand", sans-serif; font-weight: 700; font-size: 18px; line-height: 26px; margin-bottom: 0; transition: color 0.25s ease-in-out; }
.card-productos a:hover h2,
.card-img:hover + .card-body h2,
.col-4:hover + .col-6 .card-body a h2
{ color: #728C54; }

.card-body .card-title:hover {
    color: #728C54;
}

.card-img:hover img,
.hovered-img img {
    transform: scale(1.1);
}

.card-precio { font-size: 22px; font-weight: 300; color: #151A0F; }
.card-parrafo { font-size: 16px; font-weight: 300; line-height: 24px; }


/*BLOG***********************************************/
.first-sec-blog{
    display: flex;
    background-image: url(../../public/img/main-image-blog.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin-top: 7rem;
    height: 47vh;
}

.col-post { flex: 0 1 calc(33.33333%); margin-bottom: 80px; }

.link-post-archive, .link-post-archive h2{
    color: #151A0F;
    text-decoration: none;
    transition: all .4s ease-in-out;
}
#blog .link-post-archive h2:hover { color:#344026; }

.card, .card-header { background-color: #fff; border: none; }
.card-img-blog { width: 100%; border-radius: 4px 4px 0 0; }


#blog .meta-content { margin-bottom: 20px; }
#blog .author{
    width: 100%;
}
#blog .author a{ 
    display: flex;
    width: 100%;
    max-width: 150px;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: #212529;
}
#blog .author img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
#blog .author span{
    font-size: 13px; 
    font-weight: 500; 
}
#blog .date { font-size: 12px; font-weight: 400; }
#blog .card-body { background-color: #F9FAFA;border-radius: 0 0 4px 4px; }
#blog .card-body:hover, #blog .card-header-blog:hover + .card-body { background-color: #F2F5F0; }
#blog .cat-meta { 
    display: inline-block; 
    cursor: pointer; 
    background-color: #344026; 
    color: #F9FAFA; 
    padding: 6px 12px; 
    border-radius: 4px; 
    font-size: 13px; 
    margin-top: 20px; 
    text-decoration: none;
}
#blog .cat-meta:hover { background-color: #728C54;}
#blog p { font-weight: 300; font-size: 1rem; line-height: 22px; }



/*SINGLE POST***************************************************************** */
.first-sec-post{
    margin-bottom:5rem;
  }
  .first-sec-post h1{
    margin-bottom:2rem;
  }
  .first-sec-post .row-meta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:.8rem;
  }
  
  .first-sec-post .row-meta .col1{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .first-sec-post .row-meta img{
    width:32px;
    height:32px;
    border-radius: 50%;
    object-fit: fill;
    margin-right:1rem;
  }
  
  .first-sec-post .cat-meta,.third-sec-post .cat-meta{
    color: #fff;
    background-color: #344026;
    border-radius: 4px;
    padding: 0.25rem 0.8rem;
  }
  
  .first-sec-post .cont-1{
    max-width: 1253px;
    margin-bottom:3rem;
  }
  
  .first-sec-post .main-img{
    margin-bottom:1rem;
  }
  .first-sec-post .row-cats-share{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .first-sec-post #share{
    width:20px;
    height:16px;
    cursor: pointer;
  }
  .first-sec-post #share .st0{
    fill:none;
    stroke:#C0C6B9;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
  }
  .second-sec-post{
    margin-bottom:3.8rem;
  }
  .second-sec-post img{
    display: block;
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: 0 auto;
  }
  .second-sec-post .caption-img{
    font-size:14px;
    font-weight:400;
  }
  .second-sec-post .content h2{
    font-size:32px;
    font-weight:700;
  }
  .second-sec-post .content blockquote p{
    font-size: 24px;
    font-weight:500;
    font-style: italic;
    color:#000;
    width: 100%;
    max-width: 716px;
    margin: 0 auto;
  }
  .third-sec-post{
    margin-bottom: 9.4rem;
  }

  /*MODAL SHARE SINGLE POST**************************************************/
#shareSocial .row-title {
    display: flex;
    align-items: center;
  }
  #shareSocial .row-title img {
    max-width: 100%;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 16px;
  }
  .grid-share {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px 5px;
  }
  
  .grid-share a {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 220px;
    text-decoration: none;
  }
  .grid-share span {
    color: #222;
    font-weight: 600;
  }
  .grid-share .fa-square-whatsapp {
    color: #25D366;
  }
  .grid-share .fa-square-facebook {
    color: #3b5998;
  }
  .grid-share .fa-square-twitter {
    color: #00acee;
  }
  .grid-share .fa-linkedin {
    color: #0e76a8;
  }
  .grid-share .fa-brands {
    font-size: 32px;
    margin-right: 10px;
  }
  
  .grid-share .material-symbols-outlined {
    font-size: 32px;
    margin-right: 10px;
    color: #222;
    font-weight: 200 !important;
  }
  
  #shareSocial.modal .close {
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 28px;
    color: #344026;
  }

  /*ERRORES FORMULARIO**********************************/
  .error-dbm{    
    margin-bottom: 0;
  }
  .is-invalid-dbm, .is-invalid-dbm:focus{
    border-color: #dc3545 !important;
    margin-bottom: 0;
  }
  .invalid-dbm{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
  }
  .form-control.cat-select.is-invalid{
    background-position: right calc(2.4em + 0.1875rem) center;
  }

  /*EDIT PRODUCT ADMIN***********************************/
  .underline-dbm{
    font-weight: 700;
    color: #344026;
  }
  .save-edit-pro{
    margin-right: 3rem;
  }


/* Container  ****************************************************** */
.col-md-5-grid {
    width: 38%;
    position: absolute;
    right:10%;
    top:-100%;
}

/* SLIDER */


/* Responsive */

@media (max-width: 576px) {
    .mt-resp-3 {
        margin-top: 1.5rem !important;
    }
    .login-page {
        height: 120vh;
    }
}